{% extends "base.html" %}
{% load static %}

{% block title %} <title>Change Password</title> {% endblock %}

{% block content %}
<section class="form-container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <p>Old Password</p>
                                                <input type="password" name="old_password" autocomplete="new-password"
                                                       class="box" required id="id_old_password"
                                                       placeholder="Enter Old Password"/>

        <p>New Password</p>
        <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="box" required id="id_new_password1"
                                                       placeholder="Enter new password"/>

        <p>New Password Confirmation</p>
        <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="box"
                                                       placeholder="Confirm new password"/>
        

        <input type="submit" value="Change Password" name="submit" class="btn btn-primary btn-block">
    </form>
</section>
{% endblock %}