{% extends "base.html" %}
{% load static %}
{% block title %} <title>Password Reset</title> {% endblock %}

{% block content %}
<section class="form-container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <h3>Forgot Password?</h3>
        <input type="email" name="email"  class="box"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
        
        

        <div class=" remember-field ">  
            <a href="{% url 'register' %}" class="ara4matic">Create A New Account</a><br><br>
            <a href="{% url 'login' %}" class="ara4matic">Back To Login</a><br>
        </div>

        <input type="submit" value="Submit" name="submit" class="btn btn-primary btn-block">
    </form>
</section>

{% endblock %}