{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="form-container">
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="alert alert-benz alert-dismissible" role="alert">
                    <div class="alert-message">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}