{% extends "base.html" %}
{% load static %}

{% block title %} <title>Update</title> {% endblock %}

{% block content %}
<section class="form-container">

   <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="form_errors">
      {% for key, value in form.errors.items %}
        <strong>{{ value }}</strong>
      {% endfor %}
    </div>
  </div>
{% endif %}
      <h3>update profile</h3>
      <p>update username</p>
      {{user_form.username}}
      <p>update email</p>
      {{user_form.email}}
      <p>update first name</p>
      {{user_form.first_name}}
      <p>update last name</p>
      {{user_form.last_name}}
      <p>update pic</p>
      {{profile_form.image}}
      <p>update bio</p>
      {{profile_form.bio}}
      <a href="{% url 'password_change' %}" class=""><i>Change Password</i></a>
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>

</section>

{% endblock %}














