{% extends "base.html" %}
{% load static %}
{% load lessons_tags %}
{% block title %} <title>Home</title> {% endblock %} 

{% block content %}

<section class="home-grid">

   <h1 class="heading">quick options</h1>

   <div class="box-container">

      {% if user.is_authenticated %}
      <div class="box">
         <h3 class="title">likes and comments</h3>
         <p class="likes">total likes : <span>{{user.likes.count}}</span></p>
         <a href="{% url "lesson:liked_modules"  %}" method="GET" class="inline-btn">view likes</a>
         <p class="likes">total comments : <span>{{count}}</span></p>
         <a href="{% url "lesson:view_comments"  %}" class="inline-btn">view comments</a>
         <p class="likes">saved playlists : <span>{{user.save_playlist.count}}</span></p>
         <a href="#" class="inline-btn">view playlists</a>
      </div>
      {% endif %}
      

      <div class="box">
         <h3 class="title">top categories</h3>
         <div class="flex">
            {% for category in categories %}
            {% if category.slug == current_category.slug %}
                <a href="{% url "lesson:index" category.slug %}" class="active"><span class="active">{{category.title}}</span></a>

            {% elif current_category.slug == 'all' and category.slug == 'all' %}

               <a href="{% url "lesson:index" category.slug %}" class="active"><span class="active">{{category.title}}</span></a>

            {% else %}
                <a href="{% url "lesson:index" category.slug %}"><span>{{category.title}}</span></a>
            {% endif %}
            {% endfor %}
         </div>
      </div>

      <div class="box">
         <h3 class="title">popular topics</h3>
         <div class="flex">
            <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
            <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
            <a href="#"><i class="fab fa-js"></i><span>javascript</span></a>
            <a href="#"><i class="fab fa-react"></i><span>react</span></a>
            <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
            <a href="#"><i class="fab fa-bootstrap"></i><span>bootstrap</span></a>
         </div>
      </div>

      <div class="box">
         <h3 class="title">become a tutor</h3>
         <p class="tutor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, nam?</p>
         <a href="teachers.html" class="inline-btn">get started</a>
      </div>

   </div>

</section>



<section class="courses">
   {% if request.GET.q %}
   <h1 class="heading">Search Results {{request.GET.q}}</h1>
   {% else %}
   <h1 class="heading">our courses</h1>
   {% if not lessons %}
   <h1 class="heading">Nothing was found for the query</h1>

   {% endif %}
   {% endif %}
   

   <div class="box-container">
      



   {% for lesson in lessons %}


      <div class="box">
         <div class="tutor">
            <img src="{{ lesson.owner.profile.image.url }}" alt="{{lesson.owner}}">
            <div class="info">
               <h3>{{lesson.owner.first_name}} {{lesson.owner.last_name}}</h3>
               <span>{{lesson.owner}}</span>
               <br>
               <span>{{lesson.created|date:"d-m-Y"}}</span>
            </div>
         </div>
         <div class="thumb">
            <a href="{% url "lesson:course_detail" lesson.slug %}"><img src="{{ lesson.image.url }}" alt=""></a>
            <span>{{lesson.modules.count}} videos</span>
         </div>
         <h3 class="title">{{lesson.title}}</h3>
         <a href="{% url "lesson:course_detail" lesson.slug %}" class="inline-btn">view playlist</a>
      </div>

      
      {% endfor %}
         

   </div>





 <!-- asdad -->
   <div class="more-btn">
      <div class="pagination-buttons">
         <!-- <button type="button1" class="page-btn start-page">start</button> -->
         <!-- <button type="button1" class="page-btn active">1</button> -->
                   <button type="button1" class="page-btn prev-page">
                      <p class=" {% if not lessons.has_previous %} disabled {% endif %} ">
                        <a href="{% if lessons.has_previous %}?{% change_params page=lessons.previous_page_number %}{% else %}#{% endif %}">Prev</a>
                      </p>
                   </button>
                      {% for page in lessons.paginator.page_range %}
                      {% if page >= lessons.number|add:-2 and page <= lessons.number|add:2 %}
                      
                         <button class="page-btn {% if lessons.number == page %} active {% endif %}">
                            <a class="button1" href="?{% change_params page=page %}">{{page}}</a>
                         </button>
                      
                      {% endif %}
                      {% endfor %}
                      
       
                      <button type="button1" class="page-btn next-page">
                         <p class="button1 {% if not lessons.has_next %} disabled {% endif %}">
                            <a class="button1" href="{% if lessons.has_next %}?{% change_params page=lessons.next_page_number %}{% else %}#{% endif %}">Next</a>
                         </p>
                      </button>
        
       </div>
   </div>

   
   

</section>





{% endblock %}









{% block footer %}
<footer class="footer">

   &copy; copyright @ 2022 by <span>mr. web designer</span> | all rights reserved!

</footer>

{% endblock %}
   
