{% extends "base.html" %}
{% load static %}

{% block title %} <title>Course</title> {% endblock %}

{% block content %}

<section class="playlist-details">

   <h1 class="heading">playlist details</h1>

   <div class="row">

      <div class="column">

   
         <div class="thumb">
            <img src="{{ lesson.image.url }}" alt="">
            <span>{{lesson.modules.count}} videos</span>
         </div>

         <form action="{% url 'lesson:save_playlist' course_slug=lesson.slug %}" method="post" class="save-playlist">
            {% csrf_token %}
            {% if lesson.save.exists %}
            <button type="submit"><i class="fa fa-bookmark"></i> <span>saved playlist</span></button>
            {% else %}
            <button type="submit"><i class="far fa-bookmark"></i> <span>save playlist</span></button>
            {% endif %}

         </form>

         
      </div>
      <div class="column">
         <div class="tutor">
               {% if request.user.pk != lesson.owner.pk %}
                  <a href="{% url 'owner_profile' pk=lesson.owner.pk %}"><img src="{{ lesson.owner.profile.image.url }}" alt=""></a>
               {% else %}
                  <a href="{% url 'profile' %}"><img src="{{ lesson.owner.profile.image.url }}" alt=""></a>
               {% endif %}

            <div>
               {% if request.user.pk != lesson.owner.pk %}
                  <a href="{% url 'owner_profile' pk=lesson.owner.pk %}"><h3>{{lesson.owner.first_name}} {{lesson.owner.last_name}}</h3></a>
               {% else %}
                  <a href="{% url 'profile' %}"><h3>{{lesson.owner.first_name}} {{lesson.owner.last_name}}</h3></a>
               {% endif %}
               <span>{{lesson.owner}}</span>
               <br>
               <span>{{lesson.created|date:"d-m-Y"}}</span>
            </div>
         </div>
   
         <div class="details">
            <h3>{{lesson.title}}</h3>
            <p>{{lesson.overview|safe}}</p> <!-- |linebreaksbr -->
            {% if request.user.pk != lesson.owner.pk %}
            <a href="{% url 'owner_profile' pk=lesson.owner.pk %}" class="inline-btn">view profile</a>
            {% else %}
            <a href="{% url 'profile' %}" class="inline-btn">view profile</a>
            {% endif %}

         </div>
      </div>
   </div>

</section>

<section class="playlist-videos">

   <h1 class="heading">playlist videos</h1>

   <div class="box-container">

      {% for module in lesson.modules.all %}
      <a class="box" href="{% url "lesson:module_detail" course_slug=lesson.slug module_slug=module.slug  %}">
         <i class="fas fa-play"></i>
         <img src="{{ module.image.url }}" alt="">
         <h3>{{ module.title }}</h3>
      </a>
      {% endfor %}

   </div>

</section>

{% endblock %}











